<div class="modal-container">
    <div class="game-type-modal">
        <div class="modal-header">
            <h2>Game Type</h2>
        </div>
        <div class="modal-body">
            <section class="section-type-options">
                <form id="form-game-type">
                    <label for="single-player">
                        <input
                            type="radio"
                            id="single-player"
                            name="game-type"
                            value="1"
                            checked
                        />
                        <span>Single Player</span>
                    </label>

                    <label for="multiplayer">
                        <input
                            type="radio"
                            id="multiplayer"
                            name="game-type"
                            value="2"
                        />
                        <span>Multiplayer</span>
                    </label>
                </form>
            </section>
        </div>
        <hr class="icy-hr" />
        <div class="modal-options">
            <button class="btn-play">Play</button>
        </div>
    </div>
</div>