<div class="modal-container">
    <div class="grid-size-modal">
        <div class="modal-header">
            <h2>Options</h2>
        </div>
        <div class="modal-body">
            <section class="section-grid-size">
                <header>
                    <h3>Grid Size</h3>
                </header>
                <span class="width-label">Width</span>
                <div class="width-counter">
                    <span class="minus">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-dash-lg"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
                            ></path>
                        </svg>
                    </span>
                    <span class="number"></span>
                    <span class="plus"><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-plus-lg"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
                            ></path>
                        </svg></span>
                </div>
                <span class="height-label">Height</span>
                <div class="height-counter">
                    <span class="minus"><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-dash-lg"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
                            ></path>
                        </svg></span>
                    <span class="number">1</span>
                    <span class="plus"><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-plus-lg"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
                            ></path>
                        </svg></span>
                </div>
                <div class="board"></div>
            </section>
        </div>
        <hr class="icy-hr" />
        <div class="modal-options">
            <button class="btn-next">Next</button>
        </div>
        <div class="modal-spacer"></div>
    </div>
</div>