<div class="modal-container">
    <div class="rules-modal">
        <div class="modal-header">
            <h2>Rules</h2>
        </div>
        <div class="modal-body">
            <section class="section-overview">
                <header>
                    <h3>Overview</h3>
                </header>
                <p>
                    Battleship is a war-themed board game for two players in which the opponents try
                    to guess the location of their opponent's warships and sink them.
                </p>
            </section>
            <section class="section-gameplay">
                <header>
                    <h3>Gameplay</h3>
                </header>
                <ol>
                    <li>Both players agree on the size of their boards.</li>
                    <li>Both players agree on the number of the ships and their length which will be
                        placed on the boards.</li>
                    <li>
                        Each player hides their ships in their board. Note: Make sure that the other
                        player can not see the screen while your are placing the ships.
                    </li>
                    <li>
                        When the game starts players take turns attacking their enemy board, this is
                        done by choosing a cell on the board.
                        <ul>
                            <li>
                                If there is a part of the ship under the attacked cell then the
                                attack succeded and the player continue to attack another cell.
                            </li>
                            <li>
                                Otherwise the attack failed and the other player starts his turn.
                            </li>
                        </ul>
                    </li>
                    <li>
                        The winner is the first to reveal all the hidden ships in their enemy's
                        board.
                    </li>
                </ol>
            </section>
        </div>
        <hr class="icy-hr" />
        <div class="modal-options">
            <button class="btn-start">Start</button>
        </div>
        <div class="modal-spacer"></div>
    </div>
</div>