<div class="ship-container" data-length="{{shipLength}}">
    <div class="ship active">
        <div class="ship-block"></div>
    </div>
    <div class="count">
        x
        <span class="number">{{shipCount}}</span>
    </div>
</div>