<div class="game-arena">
    <div class="first-player-arena"></div>
    <div class="middle-bisector">
        <div class="rounds-container">
            <p>Round <span class="round-num">1</span></p>
        </div>
    </div>
    <div class="second-player-arena"></div>
</div>