<div class="turn-row">
    <div class="turn-container">
        <p>Your Turn</p>
    </div>
</div>

<div class="board">

</div>

<div class="ships-remained-container-responsive">
    <div class="ships">

    </div>
    <div class="pagination">
        <div class="arrow-container">
            <svg
                class="left-arrow"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-left-fill"
                viewBox="0 0 16 16"
            >
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
                ></path>
            </svg>
        </div>
        <div class="arrow-container">
            <svg
                class="right-arrow"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-right-fill"
                viewBox="0 0 16 16"
            >
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                ></path>
            </svg>
        </div>
    </div>
    <div class="info">
        <img src="../../../assets/img/info-circle-fill.svg" alt="" />
    </div>
</div>

<div class="score-container">
    <p class="name"></p>
    <p>Wins: <span class="wins">0</span></p>
    <p>Losses: <span class="losses">0</span></p>
</div>

<div class="darkening"></div>