.game-type-modal {
    @extend .modal;
    @media(max-width: $sm) {
        &::before {
            left: 20px;
        }
        &::after {
            right: 20px;
        }
    }
    .modal-body {
        #form-game-type {
            @extend .flex-center;
            gap: 10rem;
            @media (max-width: $sm) {
                flex-direction: column;
                gap: 3rem;
            }
        }
    }
}