.ships-choosing-modal {
    @extend .modal;
    .modal-body {
        .ships {
            display: flex;
            overflow: hidden;
            padding-top: 0.25rem;
            .pages-container {
                display: flex;
                position: relative;
                overflow: hidden;
                right: 0;
                width: 30vw;
                @media (max-width: $lg) {
                    width: 40vw;
                }
                @media (max-width: $md) {
                    width: 60vw;
                }
                @media (max-width: $sm) {
                    width: 80vw;
                }
            }
            .page {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-left: 2.5rem;
                width: 100%;
                transition: transform 0.3s linear;
            }
            .ship-container {
                display: flex;
                justify-content: space-between;
                .count {
                    font-weight: bold;
                    font-size: calc(1em + 0.25rem);
                }
                .ship-block {
                    width: $game-block-size-md;
                    height: $game-block-size-md;
                }
            }
        }
    }
}