.ships-choosing-modal {
    @extend .modal;

    .modal-body {
        @media(max-width: $sm) {
            .section-choose-ships {
                padding: {
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }

    .modal-options {
        @media(max-width: $sm) {
            padding: {
                left: 1rem;
                right: 1rem;
            }
        }
    }

    .ships {
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding-top: 0.25rem;

        .pages-container {
            display: flex;
            position: relative;
            overflow: hidden;
            right: 0;
            width: 30vw;

            @media (max-width: $lg) {
                width: 40vw;
            }

            @media (max-width: $md) {
                width: 60vw;
            }

            @media (max-width: $sm) {
                width: 80vw;
            }
        }

        .page {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            transition: transform 0.3s linear;
        }

        .ship-container {
            display: flex;
            justify-content: space-between;

            .count {
                font-weight: bold;
                font-size: calc(1em + 0.25rem);
            }

            .ship-block {
                width: $game-block-size-md;
                height: $game-block-size-md;
            }
        }
    }
}