
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem;
}

main {
    flex-grow: 1;
}